/* Text Styling */
h1 {
  color: #0a8334;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

/* Basic layout */
.fluid-container {
  margin: 2%;
}

/* Images/Icon styling */
.fa-crown {
  color: #FFF400;
}

.fa-plus {
  color: white;
}

.fa-minus {
  color: white;
}
/* */
.close{
  cursor: pointer
}

.btn-group button{
  background-color: #27a844;
  border: 1px solid #303030;
}

.btn:focus{
  background-color:#0d8e2a;
}

.admin-mode-table-hidden {
  display: none;
}


#middle-school{
  width: 50%;
}
i{
  float: left;
}

#menu ul{
  list-style: none;
  display: inline-flex;
  margin: 0;
  padding: 0;
}

#menu li{
  display: inline-block;
}


.modal {
  display: none;
  position: relative;
  z-index: 1;
  left: 0;
  top: 0;
  width: auto;
  height: auto;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  padding-top: 7%;
  padding-left: 30%;
  padding-right: 30%;
}

.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}

#admin-title{
  text-align: center;
  color: #355535;
}

@media only screen and (max-width: 900px){
  /* earlier max-width = 768 */
  #middle-school{
    width:100%;
  }
  .modal {
    padding-left: 15%;
    padding-right: 15%
  }
  .card-header{
    font-size: 14px;
  }

  #instagram-feed1 {
    padding: 5%;
  }
}

.modal-content {
  padding: 5%;
}

#login-button{
  width: 100%;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 3px 20px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
