h1 {
  color: #28a745;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.navbar-brand {
  color: #28a745;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.fluid-container {
  margin: 2%;
}
