/* Text Styling */
h1 {
  color: #0a8334;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

/* Basic layout */
.fluid-container {
  margin: 2%;
}

/* Images/Icon styling */
.fa-crown {
  color: #FFF400;
}

/* */

.btn-group button{
  background-color: #27a844;
}

#middle-school{
  width: 50%;
}

@media only screen and (max-width: 768px){
  #middle-school{
    width:100%;
  }
}
