.fluid-container {
  padding: 1%;
  background-color: #dddddd;
  padding-left: 5%;
  width:30%;
  margin: 10% auto;
}

#Points {
  width:7%;
}
 #Additions{
   padding: 0.5%;
 }

#admin{
  font-size: 120%;
}
